<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="broaker" value="wn0-pwc-ka.hadn2mhy1dvunibxjea5kqt21h.px.internal.cloudapp.net:9092,wn1-pwc-ka.hadn2mhy1dvunibxjea5kqt21h.px.internal.cloudapp.net:9092"/>
  </appSettings>
</configuration>
